body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#mensagem {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item {
    padding: 20px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
}